


*.txt

*.ipynb

*.pyc

ATAI/*


DeepBlueNotec/DeepBlueNote.xcodeproj/*

.idea/*
build/*

DeepBlueNote.spec

dist/DeepBlueNote/




parameters/*



crossvalidate.pl


*.csv

*.wav

*.midi

songs_midi_indexed/timidity
