


*.txt

*.ipynb

*.pyc

ATAI/*


DeepBlueNotec/DeepBlueNote.xcodeproj/*

.idea/*
build/*

DeepBlueNote.spec

dist/DeepBlueNote/








run 900something.csv

parameters 100 run.csv

parameter tuning 1000 run.csv

parameter tuning instrument 1000.csv

refining run.csv
